<launch>
  <group ns="prairiedog">
    <param name="using_tf" type="bool" value="true" />
  </group>

    <group ns="intercom_cu">
    <param name="my_id" type="int" value="2" />
    <param name="num_agents" type="int" value="3" />
    <param name="config_file" type="string" value="../config.xml" />
  </group>
  <node name="intercom_cu" pkg="intercom_cu" type="intercom_cu" cwd="node" respawn="false" output="screen"/>

  <group ns="visualization_cu_cu">
    <param name="num_robots" type="int" value="2" />
  </group>
  <node name="visualization_cu" pkg="visualization_cu" type="visualization_cu" output="screen" />

</launch>
