<launch>

  <group ns="hokuyo">
    <param name="calibrate_time" type="bool" value="false" />
    <param name="hokuyoLaserModel04LX" type="bool" value="true" />
    <param name="min_ang_degrees" type="double" value="-120" />
    <param name="max_ang_degrees" type="double" value="120" />
  </group>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen" />
  
  <node name="driver_brown" pkg="irobot_create_rustic" type="driver" respawn="true" output="screen" />

  <node name="irobot_create_cu" pkg="irobot_create_cu" type="irobot_create_cu" respawn="true" output="screen" />
  <node name="stargazer_cu" pkg="stargazer_cu" type="stargazer_cu" cwd="node" args="-c ../command_sets.xml -f ../pseudolites.xml" respawn="true" output="screen" />

  <node name="gencam_cu" pkg="gencam_cu" type="gencam_cu" respawn="true" output="screen" />
  <node name="hokuyo_listener_cu" pkg="hokuyo_listener_cu" type="hokuyo_listener_cu" respawn="true" output="screen" />
  <node name="localization_cu" pkg="localization_cu" type="localization_cu" respawn="true" output="screen" />
  <node name="goal_server_cu" pkg="goal_server_cu" type="goal_server_cu" output="screen" />
  <node name="mapper_cu" pkg="mapper_cu" type="mapper_cu" cwd="node" respawn="true" output="screen" />
  <node name="base_planner_cu" pkg="base_planner_cu" type="base_planner_cu" respawn="true" output="screen" />
  <inode name="visualization_cu" pkg="visualization_cu" type="visualization_cu" output="screen" />

</launch>
