<?xml version="1.0" ?>
<agents>
  <agent id="0" ip="10.1.1.249">
    <broadcast>
      <message type="6"/>
      <message type="7"/>
      <message type="8"/>
      <message type="9"/>
      <message type="11"/>
    </broadcast>
    <receive>
      <message type="0"/>
      <message type="1"/>
      <message type="2"/>
      <message type="3"/>
      <message type="4"/>
      <message type="5"/>
      <message type="10"/>
      <message type="12"/>
      <message type="13"/>
    </receive> 
  </agent>
  <agent id="1" ip="10.1.1.246">
    <broadcast>
      <message type="0"/>
      <message type="1"/>
      <message type="2"/>
      <message type="3"/>
      <message type="4"/>
      <message type="5"/>
      <message type="10"/>
      <message type="12"/>
      <message type="13"/>
    </broadcast>
    <receive>
      <message type="6"/>
      <message type="7"/>
      <message type="8"/>
      <message type="9"/>
      <message type="11"/>
    </receive> 
  </agent>
</agents>

